@model IEnumerable<GameesStore_client.Models.GameViewModel>

<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse show" style="">
            <button class="btn btn-outline-danger button">
                @Html.ActionLink("Create new game", "Create")
            </button>
            <div class="sidebar-sticky pt-3">
                <div class="col">
                    <ul class="nav flex-column">
                        @foreach (var item in ViewBag.Developers)
                        {
                            <li class="nav-item row d-flex align-items-center">
                                <input name="@item" onchange="setDeveloper(event)" type="checkbox" style="margin-right:10px" id="@item" />
                                <label for="@item">@item</label>
                            </li>
                        }
                    </ul>
                </div>

                <hr />
                <div class="col">
                    <ul class="nav flex-column">
                        @foreach (var item in ViewBag.Genres)
                        {
                            <li class="nav-item row d-flex align-items-center">
                                <input name="@item" type="checkbox" onchange="setGenre(event)" style="margin-right:10px" id="@item" />
                                <label for="@item">@item</label>
                            </li>
                        }
                    </ul>
                </div>
                <br />
                <form style="margin-top: 20px">
                    @*<button type="button" class="">
                            @Html.ActionLink("Search", "Search")
                        </button>*@
                    <input type="text" id="searchName" class="form-control"  name="searchName" placeholder="Enter search game">
                    <br />    
                    @using (Html.BeginForm("Search", "Games"@*, new { Name = searchName }*@, FormMethod.Post))
                        {
                            <input type="submit" value="Search" class="btn btn-outline-info" />
                        }
                </form>
                <br />
            </div>
        </nav>
        @{
            Html.RenderPartial("Partial/CardPartial");
        }
    </div>
</div>