@model GameesStore_client.Models.GameViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <hr />

    <div class="row d-flex justify-content-around text-left">
        <div class="col">
            <img style="width: 450px;" src="@Html.DisplayFor(model => model.Image)" alt="" />
        </div>
        <div class="col">
            <h1>@Html.DisplayFor(model => model.Name)</h1>
            <h5><strong>@Html.DisplayFor(model => model.Genre)</strong></h5>
            <h5><small>@Html.DisplayFor(model => model.Developer)</small></h5>
            <h6>@Html.DisplayFor(model => model.Price) grn</h6>
            <p><small>@Html.DisplayFor(model => model.Year)</small></p>
            <div class="row">
                <div class="col">
                    <p>
                        <span>
                            @{int rating = Convert.ToInt32(Html.DisplayFor(model => model.Rating).ToString()); }
                            @for (int i = 0; i < rating; i++)
                            {
                                <i style="color:#f1f154" class="fas fa-star"></i>
                            }
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div>
        <br />
        <hr />
        <h3>@Html.DisplayNameFor(model => model.Description)</h3>
        <p>@Html.DisplayFor(model => model.Description)</p>
        <hr />
        <br />
    </div>
</div>
<p class="row">
    @using (Html.BeginForm("Edit", "Games", new { Id = Model.Id }, FormMethod.Post))
    {
        <input type="submit" value="Edit" class="btn btn-edit my-margin" />
    }
    @using (Html.BeginForm("Back to List", "Index", new { Id = Model.Id }, FormMethod.Post))
    {
        <input type="submit" value="BackToList" class="btn btn-delete my-margin" />
    }
</p>

<button type="button" class="btn btn-secondary">
    @Html.ActionLink("Back", "Index")
</button>
