@using System.Web.Optimization;
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @Styles.Render("~/Content/bootrstrapStyles")
    @Styles.Render("~/Content/customStyles")
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    @{
        Html.RenderPartial("Header");
    }
    @*<div class="container body-content">*@
        @RenderBody()
    @*</div>*@
    @{
        Html.RenderPartial("Footer");
    }

    @Scripts.Render("~/Scripts/jqueryScripts");
    @Scripts.Render("~/Scripts/popperScripts");
    @Scripts.Render("~/Scripts/bootstrapScripts");
    @Scripts.Render("~/Scripts/customScript");
    <script src="https://kit.fontawesome.com/39c9a805b6.js" crossorigin="anonymous"></script>
</body>
</html>
