@model GameesStore_client.Models.GenreViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />
<div style="width:70%; margin:0 auto;">
    <div class="row d-flex justify-content-around text-left">
        <div class="col">
            <img class="img-fluid" style="width: 450px;" src="@Html.DisplayFor(model => model.Image)" alt="" />
        </div>
        <div class="col">
            <h1>@Html.DisplayFor(model => model.Name)</h1>
            <p class="p-3">@Html.DisplayFor(model => model.Description)</p>
            <p>
                @using (Html.BeginForm("Edit", "Genres", new { Id = Model.Id }, FormMethod.Post))
                {
                    <input type="submit" value="Edit" class="btn btn-edit my-margin" />
                }
            </p>
        </div>
    </div>

    <button type="button" class="btn btn-secondary">
        @Html.ActionLink("Back", "Index")
    </button>
    <button type="button" class="btn btn-secondary">
        @Html.ActionLink("Back to Games", "../Games/Index")
    </button>
</div>
